# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarised

Objectives:
- list data scientist languages
- list data scientist libraries
- provide an example of arithmetic expresssions

Some of the popular languages that Data Scientists use are:
    1. Python
    2. R
    3. SQL
    4. Julia

Some of the commonly used libraries used by Data Scientists include:
    1. NumPy
    2. Pandas
    3. Matplotlib
    4. Scikit learn
    5. TensorFlow

| Data Science Tools |
| --- |
| RStudio |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to multiply then add integers
(3*4) + 5

17

In [6]:
#  This will convert 200 minutes to hours by diving by 60
print("200 minutes = ", 200/60, " hours")

200 minutes =  3.3333333333333335  hours

## Author
Rishanth Ramanathan